/*Fonts*/
@font-face {
	font-family: CormorantGaramond;
	src: url(../fonts/Cormorant_Garamond/CormorantGaramond-Regular.ttf);
}

@font-face {
	font-family: CormorantGaramond;
	src: url(../fonts/Cormorant_Garamond/CormorantGaramond-SemiBold.ttf);
	font-weight: 600;
}

@font-face {
	font-family: CormorantGaramond;
	src: url(../fonts/Cormorant_Garamond/CormorantGaramond-Bold.ttf);
	font-weight: 700;
}

@font-face {
	font-family: Catamaran;
	src: url(../fonts/Catamaran/Catamaran-VariableFont_wght.ttf);
}

/*Variables*/
:root {
	/*Colors*/
	--sand: #DDC9B1;
	--ochre: #9D6436;
	--earth: #918C71;
	--ink: #000000;
	--white: #ffffff;
	--white25: rgba(255,255,255,.25);

	/*Additional Sand Shades for the "Bands of Time"*/
	--sand2: #C8B6A0;
	--sand3: #B1A28E;
	--sand4: #9B8D7C;

	/*Fonts*/
	--primaryFont: CormorantGaramond;
	--secondaryFont: Catamaran;
	--secondaryFont-spacing: 1px;
  }


/*Foundation*/
body {
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding: 0;
	line-height: 1.25;
	font-family: var(--primaryFont);
	font-size: 18px;
	color: var(--ink);
	background-color: var(--sand);
}

.bg-texture {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-image: url(../img/texture.jpeg);
	background-size: cover;
	background-position: center;
	mix-blend-mode: lighten;
	opacity: .1;
}

p {
	margin-bottom: 10px;	
}

h1, h3 {
	font-weight: 600;
}

h1 {
	text-transform: uppercase;
	font-size: 3em;
	letter-spacing: 2px;
	line-height: 1;
}

h2 {
	font-size: 1.35em;
	font-weight: 400;
	margin-bottom: 25px;
}

h3 {
	font-size: 1.6em;
	letter-spacing: 1px;
}

h6 {
	margin-bottom: 25px;
}

/*Book Plate Page*/
.bookPlatePage {
	background-image: none;
	height: auto;
	width: 100%;
	min-width: 300px;
	max-width: 700px;
	margin: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: var(--white25);
	box-shadow: inset 0 0 99px var(--sand);
	padding: 50px 75px;
}

.decorative-underline {
	height: 1px;
	width: 80%;
	border-bottom: 1px solid var(--ink);
	margin: 25px 0;
	position: relative;
}

.decorative-underline::before {
	display: block;
	margin: auto;
	content: '';
	height: 15px;
	width: 15px;
	transform: rotate(45deg);
	background-color: var(--sand);
	border: 1px solid var(--ink);
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.decorative-underline::after {
	display: block;
	margin: auto;
	content: '';
	height: 10px;
	width: 10px;
	transform: rotate(45deg);
	background-color: var(--ink);
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.bookPlatePage h4, .bookPlatePage h5, .bookPlatePage a {
	font-size: 1.1em;
}

.entry-btn {
	margin: 25px 0;
	height: 250px;
	width: 250px;
	background-image: url(../img/wdce-logo-no-text.png);
	background-size: cover;
	background-position: center;
	text-transform: uppercase;
	font-family: var(--secondaryFont);
	letter-spacing: var(--secondaryFont-spacing);
	font-weight: 600;
	font-size: .8em;
	position: relative;
}

.entry-btn::after {
	display: block;
	content: '';
	height: 80%;
	width: 80%;
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
	background-image: radial-gradient(rgba(255,255,255, .7), rgba(255,255,255,0) 60%);
}

#copyright {
	position: absolute;
	right: 30px;
	bottom: 30px;
	font-family: var(--secondaryFont);
	letter-spacing: var(--secondaryFont-spacing);
	font-size: .85em;
	margin-bottom: 0;
}


/*Navigator*/
#navigator {
	box-sizing: border-box;
	margin: auto;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 4%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 40vw;
}

#navigator button {
	height: 75px;
	width: 75px;
	background-color: rgba(255,255,255,.3);
	transform: rotate(45deg);
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: inset 0 0 30px var(--sand);
}

#navigator button p {
	transform: rotate(-45deg);
	margin-bottom: 0;
	text-transform: uppercase;
	font-family: var(--secondaryFont);
	letter-spacing: var(--secondaryFont-spacing);
	font-weight: 600;
}

/*Lexia*/
article {
	box-sizing: border-box;
	width: 50vw;
	height: 40vw;
	padding: 30px;
	display: flex;
	flex-direction: column;
	position: relative;
	background-image: url(../img/frame.png);
	background-size: 100% 100%;
}

article a:link {
	color: var(--ochre);
	font-weight: 700;
}

article a:visited {
	color: var(--earth);
}

article header {
	padding: 0 0 40px 0;
	width: auto;
	justify-self: flex-start;
	align-self: flex-start;
}

article header h3 {
	text-transform: uppercase;
	position: relative;
}

article header h3::after {
	content: '';
	display: block;
	border-top: 1px solid black;
	position: absolute;
	bottom: -20px;
	left: 0;
	width: 100%;
	height: 2px;
}

article .container, article section {
	flex: 1;
	overflow-y: auto;
}

article .inscription {
	-webkit-perspective:1;
	-webkit-column-width: 15em;
	   -moz-column-width: 15em;
	    -ms-column-width: 15em;
			column-width: 15em;
	 -webkit-column-fill: auto;
	    -moz-column-fill: auto;
	     -ms-column-fill: auto;
	 		 column-fill: auto; 
	  -webkit-column-gap: 2em;
	     -moz-column-gap: 2em;
	      -ms-column-gap: 2em;
			  column-gap: 2em; 
}

article :target {
	-webkit-animation: crosslink 4.25s ease;
	   -moz-animation: crosslink 4.25s ease;
	    -ms-animation: crosslink 4.25s ease;	
	        animation: crosslink 4.25s ease;
	} 

@-webkit-keyframes crosslink {
	0%  {background: #cc9;}
	100%   {background: transparent;}
	}
@-moz-keyframes crosslink {
	0%  {background: #cc9;}
	100%   {background: transparent;}
	}
@-ms-keyframes crosslink {
	0%  {background: #cc9;}
	100%   {background: transparent;}
	}
@-keyframes crosslink {
	0%  {background: #cc9;}
	100%   {background: transparent;}
	}

article .path {
	box-sizing: border-box;
	justify-self: flex-end;
	display: flex;
	flex-direction: row;
	justify-content: center;
	border-top: 1px solid black;
	padding: 20px 0 0 0;
	margin-top: 20px;
	text-align: center;
	font-family: var(--secondaryFont);
	letter-spacing: var(--secondaryFont-spacing);
}

article .path span {
	margin: 0 10px;
}

article .path a {
	text-transform: uppercase;
	color: var(--ink);
	font-size: .8em;
	font-weight: 600;
}

/*Scrollbar*/
/* Width */
::-webkit-scrollbar {
	width: 5px;
	height: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px rgba(0,0,0,.25);
	border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: rgba(0,0,0,.25);
	border-radius: 10px;
  }